.statusbar {
    background: linear-gradient(150deg, rgb(54, 165, 255) 10%, rgb(11, 11, 212) 50%, rgba(81,22,154,1) 90%);
}

.tab {
    border-right: none !important;
}

/* Inlay Hints */
.dyn-rule-4-58 {
    border-radius: 5px;
}
