:root {
    --custom-blue: rgb(3 16 104);
    --custom-dark-blue: rgb(0 0 58);
    
    --vscode-focusBorder: var(--custom-blue) !important;
}

.statusbar {
    background: linear-gradient(150deg, var(--custom-blue) 10%, var(--custom-dark-blue) 90%);
}

.badge-content {
    background-color: var(--custom-dark-blue) !important;
}

.tab {
    border-right: none !important;
}

/* Inlay Hints */
.mtk1 {
    border-radius: 5px;
}
